body {
    margin:0 auto;
    padding:0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer{
    float:left;
}
.container{
}
.body-content{
    margin-top: 50px!important;
}
.res-wrapper img{
    width:195px;
    height:278px;
}
.jumbotron.index{
    min-height:550px;
    padding:0px!important;
    margin-top:51px;
    border-radius:0px;
}
.index-posters{
    width: 190px;
    height: 270px;
    float:left;
}
.index-posters img{
    width:100%;
    height:100%;
}
.show-results{
    width: 100%;
    min-height: 500px;
    float:left;
}
.tv-container {
    width:100%;
    min-height: 700px;
    height: auto;
    margin:0 auto;
    margin-top:70px;
    padding:15px;
}
.tv-poster{
    width:200px;
    float:left;
    margin-left:10px;
    padding: 10px 1px 10px 0px;

}
.tv-info{
    width:80%;
    float:right;
    font-size:18px;
    padding: 10px 0 10px 0px;
}
.tv-similar{
    width: 200px;
    margin-left: 10px;
}
.tv-info label{
    margin-bottom:5px;
}
.search-container{
    float: left;
    margin-top: 10px;
    margin-left:50px;
}
.btn.fav.btn-default{
    width: 186px;
    border-radius: 0;
    margin-top: 12px;
}
.res-wrapper {
    width: 18%;
    float: left;
    margin-right: 10px;
    margin-top: 20px;
}

.seasons{
    width:3%;
    float:left;
}
/* Buttons */

.btn-add{
    width:93%;
    margin-top:5px;
    background:#222222;
    color:#fff;
    border-radius:0px;
}

.btn-remove{

}

a.btn.btn-default {
    margin-top: 20px;
}

/* CLOSE Buttons*/
#Name{
    width: 300px;
    height:32px;
    border: 1px solid #cccccc;
    border-radius:5px;
}

