@model TVSeriesCalendar_3.Models.ShowViewModel
@{
    Layout = "";
}

<hr />
@foreach (var item in Model.AiringTodayShows)
{
    <a href="@Url.Action("TVShowDetails", "Show", new { id = item.ID })" class="">@item.Name</a><br />
}


<p><a class="btn btn-default" href="@Url.Action("GetAiringTodayShows", "Home")">See more &raquo;</a></p>
<hr />